<div class="grid grid-cols-12 gap-3">
  <div class="col-span-12 lg:col-span-3">
    <div class="bg-white !mb-4 !py-6 !px-4">
      <label class="!mb-2">
        انتخاب تست:
      </label>

      <mr-select (changed)="surveySelect($event)" [options]="allSurveys" optionValue="id"
                 optionLabel="createDateTimeStr"></mr-select>

      <mr-widget [loading]="loadingService.getLoader('survey')">
        <survey-detail *ngIf="selectedSurvey" [survey]="selectedSurvey" [showGauge]="false"></survey-detail>
      </mr-widget>
    </div>

    <div class="bg-white !py-6 !px-4 !mb-4">
      <div class="text-center !mb-6 text-xl font-medium text-dark-2">{{user?.user.name}}</div>
      <mr-widget [loading]="loadingService.getLoader('user')">
        <div>
          <div class="flex items-center">
          </div>
          <div class="flex items-center !mb-3">
            <span class="me-2 inline-block font-medium"> شماره ملی: <span>{{user?.user?.nationalCode}}</span></span>
          </div>

          <div class="flex items-center !mb-3">
            <span class="me-2 inline-block font-medium"> حق بیمه: <span>{{user?.contract.insurancePremium}} ریال </span></span>
          </div>

          <div class="flex items-center !mb-3">
            <span
              class="me-2 inline-block font-medium"> نسبت سرمایه فوت سال اول به حق بیمه: <span>{{user?.contract.deathBenefitRatio}}</span></span>
          </div>

          <div class="flex items-center !mb-3">
            <span
              class="me-2 inline-block font-medium"> ضریب افزایش سالانه: <span>{{user?.contract?.deathBenefitIncreaseRate}}</span></span>
          </div>

          <div class="flex items-center mb-3">
            <span
              class="me-2 inline-block font-medium"> نسبت سرمایه فوت ناشی از حادثه به سرمایه فوت سال اول: <span>{{user?.contract?.accidentalDeathRatio}}</span></span>
          </div>

          <div class="flex items-center mb-3">
            <span
              class="me-2 inline-block font-medium"> نسبت پوشش ناشی از ابتلا به بیماری به سرمایه فوت سال اول:  <span>{{user?.contract?.diseaseCoverageRatio}}</span></span>
          </div>

          <div class="flex items-center mb-3">
            <span class="me-2 inline-block font-medium"> مدت قرارداد: <span>{{user?.contract?.contractDuration}}</span></span>
          </div>

          <!--          <div class="flex items-center mb-3">-->
          <!--            <span class="me-2 inline-block font-medium">موقعیت: </span>-->
          <!--            <span>2190102790</span>-->
          <!--          </div>-->
        </div>
      </mr-widget>

    </div>
  </div>

  <div class="col-span-12 lg:col-span-9">

    <div *ngIf="!selectedSurveyId">
      <p-messages [(value)]="selectTestMessage" [enableService]="false" [closable]="false"></p-messages>
    </div>

    <div *ngIf="selectedSurveyId" class="grid grid-cols-2 gap-3">
      <div class="col-span-1 bg-white rounded lg:col-span-1 !py-3">
        <mr-widget [loading]="loadingService.getLoader('survey')">
          <div class="flex items-center justify-center !mb-3">
            <i class="pi pi-chart-pie text-xl me-2"></i>
            <span>نمودار ریسک ناشی از مرگ طبیعی</span>
          </div>
          <div class="text-center !mt-4">
            <mr-knob *ngIf="selectedSurvey?.data?.risk.naturalDeath"
                     [value]="selectedSurvey?.data?.risk.naturalDeath"></mr-knob>
          </div>
        </mr-widget>
      </div>

      <div class="col-span-1 bg-white rounded lg:col-span-1 !py-3">
        <mr-widget [loading]="loadingService.getLoader('survey')">
          <div class="flex items-center justify-center !mb-3">
            <i class="pi pi-chart-pie text-xl me-2"></i>
            <span>نمودار ریسک ناشی از بیماری</span>
          </div>
          <div class="text-center !mt-4">
            <mr-knob *ngIf="selectedSurvey?.data?.risk.disease" [value]="selectedSurvey?.data?.risk.disease"></mr-knob>
          </div>
        </mr-widget>
      </div>

      <div class="col-span-2 bg-white !rounded !mb-4 !p-4">
        <mr-widget [loading]="loadingService.getLoader('survey')">
          <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>

          <div class="mb-2 bg-light-3 !py-3 !px-4 !rounded">
            <div *ngIf="selectedSurvey?.data?.reduction?.removeHighRiskDiseases.length>0">
              <span>بیماری </span>
              <span *ngIf="selectedSurvey?.data?.reduction?.removeHighRiskDiseases.length>1"> های </span>
              <span *ngFor="let illness of selectedSurvey?.data?.reduction?.removeHighRiskDiseases; let last=last">
                <span class="font-bold !text-primary">{{IllnessEnum[illness]}}</span>
                <span *ngIf="!last"> و </span>
              </span>
              <span> از پوشش حذف شود. </span>
            </div>

            <div>
              <span>توصیه نمیشود بیماری خاصی از پوشش بیمه حذف شود.</span>
            </div>
          </div>
        </mr-widget>
      </div>

      <!--      <div class="col-span-2 bg-white !rounded !p-4">-->
      <!--        <mr-widget [loading]="loadingService.getLoader('survey')">-->
      <!--          <p-messages [(value)]="messages2" [enableService]="false" [closable]="false"></p-messages>-->
      <!--        </mr-widget>-->
      <!--      </div>-->
    </div>
  </div>
</div>
