<div class="grid grid-cols-12 gap-3">
  <div class="col-span-12 lg:col-span-3">
    <div class="bg-white !mb-4 !py-6 !px-4">
      <label class="!mb-2">
        انتخاب تست:
      </label>

      <mr-select (changed)="surveySelect($event)" [options]="allSurveys" optionValue="id"
                 optionLabel="createDateStr"></mr-select>

      <mr-widget [loading]="loadingService.getLoader('survey')">
        <survey-detail *ngIf="selectedSurvey" [survey]="selectedSurvey" [showGauge]="false"></survey-detail>
      </mr-widget>
    </div>

    <div class="bg-white !py-6 !px-4 !mb-4">
      <div class="text-center !mb-6 text-xl font-medium text-dark-2">آرمین مومنی</div>
      <mr-widget [loading]="loadingService.getLoader('user')">
        <div>
          <div class="flex items-center">
          </div>
          <div class="flex items-center !mb-3">
            <span class="me-2 inline-block font-medium">شماره ملی: </span>
            <span>{{user?.user?.nationalCode}}</span>
          </div>

          <div class="flex items-center !mb-3">
            <span class="me-2 inline-block font-medium">حق بیمه: </span>
            <span>{{user?.contract.insurancePremium}} ریال </span>
          </div>

          <div class="flex items-center !mb-3">
            <span class="me-2 inline-block font-medium">نسبت سرمایه فوت سال اول به حق بیمه: </span>
            <span>{{user?.contract.deathBenefitRatio}}</span>
          </div>

          <div class="flex items-center !mb-3">
            <span class="me-2 inline-block font-medium">ضریب افزایش سالانه: </span>
            <span>{{user?.contract?.deathBenefitIncreaseRate}}</span>
          </div>

          <div class="flex items-center mb-3">
            <span class="me-2 inline-block font-medium">نسبت سرمایه فوت ناشی از حادثه به سرمایه فوت سال اول: </span>
            <span>{{user?.contract?.accidentalDeathRatio}}</span>
          </div>

          <div class="flex items-center mb-3">
            <span class="me-2 inline-block font-medium">نسبت پوشش ناشی از ابتلا به بیماری به سرمایه فوت سال اول: </span>
            <span>{{user?.contract?.diseaseCoverageRatio}}</span>
          </div>

          <div class="flex items-center mb-3">
            <span class="me-2 inline-block font-medium">مدت قرارداد: </span>
            <span>{{user?.contract?.contractDuration}}</span>
          </div>

          <!--          <div class="flex items-center mb-3">-->
          <!--            <span class="me-2 inline-block font-medium">موقعیت: </span>-->
          <!--            <span>2190102790</span>-->
          <!--          </div>-->
        </div>
      </mr-widget>

    </div>
  </div>

  <div class="col-span-12 lg:col-span-9">

    <div *ngIf="!selectedSurveyId">
      <p-messages [(value)]="selectTestMessage" [enableService]="false" [closable]="false"></p-messages>
    </div>

    <div *ngIf="selectedSurveyId" class="grid grid-cols-2 gap-3">
      <div class="col-span-1 bg-white rounded lg:col-span-1 !py-3">
        <mr-widget [loading]="loadingService.getLoader('survey')">
          <div class="flex items-center justify-center !mb-3">
            <i class="pi pi-chart-pie text-xl me-2"></i>
            <span>نمودار ریسک ناشی از مرگ طبیعی</span>
          </div>
          <div class="text-center !mt-4">
            <mr-knob [value]="parseInt(selectedSurvey?.data?.risk.naturalDeath | number:'1.0-0')"></mr-knob>
          </div>
        </mr-widget>
      </div>

      <div class="col-span-1 bg-white rounded lg:col-span-1 !py-3">
        <mr-widget [loading]="loadingService.getLoader('survey')">
          <div class="flex items-center justify-center !mb-3">
            <i class="pi pi-chart-pie text-xl me-2"></i>
            <span>نمودار ریسک ناشی از بیماری</span>
          </div>
          <div class="text-center !mt-4">
            <mr-knob [value]="parseInt(selectedSurvey?.data?.risk.disease | number:'1.0-0')"></mr-knob>
          </div>
        </mr-widget>
      </div>

      <div class="col-span-2 bg-white !rounded !mb-4 !p-4">
        <mr-widget [loading]="loadingService.getLoader('survey')">
          <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>

          <div class="mb-2 bg-light-3 !py-3 !px-4 !rounded">
            <div>شسیش سیخشه یتخشهس یتخش یهتخشهای ظهعازهظع از</div>
          </div>

          <div class="bg-light-3 !py-3 !px-4 rounded">
            <div>شسیش سیخشه یتخشهس شهسعیا شهای سهاب یبهالیهال یسعابسهعاییسها بسهعبا سیهعا بیسهعبا یسهع بسیبهع سیهع
              باسیخه
              بسخهل بلهعال بیخه
            </div>
          </div>
        </mr-widget>
      </div>

      <div class="col-span-2 bg-white !rounded !p-4">
        <mr-widget [loading]="loadingService.getLoader('survey')">
          <p-messages [(value)]="messages2" [enableService]="false" [closable]="false"></p-messages>
        </mr-widget>
      </div>
    </div>
  </div>
</div>
