<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
      <c-row class="justify-content-center">
        <c-col md="8">
          <c-card-group>
            <c-card class="p-4">
              <c-card-body>
                <form cForm>
                  <h1 ></h1>
                  <p class="text-medium-emphasis"></p>
                  <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <svg cIcon name="cilUser"></svg>
                    </span>
                    <input autoComplete="username" cFormControl placeholder="نام کاربری" />
                  </c-input-group>
                  <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <svg cIcon name="cil-pencil"></svg>
                    </span>
                    <input autoComplete="username" cFormControl placeholder="کد ملی" />
                  </c-input-group>
                  <c-input-group class="mb-4">
                    <span cInputGroupText>
                      <svg cIcon name="cilLockLocked"></svg>
                    </span>
                    <input
                      autoComplete="current-password"
                      cFormControl
                      placeholder="رمز عبور"
                      type="password"
                    />
                  </c-input-group>
                  <c-input-group class="mb-4">
                    <span cInputGroupText>
                        <svg cIcon name="cilLockLocked"></svg>
                    </span>
                    <input 
                        autocomplete="new-password" 
                        cformcontrol="" 
                        placeholder="تکرار رمز عبور" 
                        type="password" 
                        class="form-control"
                    >
                  </c-input-group>
                  <c-input-group class="mb-3">
                    <span 
                        cinputgrouptext="" 
                        class="input-group-text">@
                    </span>
                    <input 
                        autocomplete="email" 
                        cformcontrol="" 
                        placeholder="Email" 
                        type="text" 
                        class="form-control"
                    >
                  </c-input-group>
                  <c-row>
                    <c-col class="mb-3">
                      <button cbutton="" color="success" type="button" class="btn btn-info btn-loading">ثبت نام</button>
                    </c-col>
                  </c-row>
                </form>
              </c-card-body>
            </c-card>
          </c-card-group>
        </c-col>
      </c-row>
    </c-container>
  </div>
  