<div style="max-width: 800px; margin: auto">
  <div *ngIf="showGauge" class="text-center mb-8 bg-white rounded-lg !py-6">
    <div class="flex items-center justify-center !mb-3">
      <i class="pi pi-chart-pie text-xl me-2"></i>
      <span>وضعیت کلی ریسک بیماری ها</span>
    </div>
    <mr-knob *ngIf="survey" [value]="survey?.data.average"></mr-knob>
  </div>

  <div class="bg-white rounded-lg mb-8 !py-6">
    <div class="illness">
      <p>سرطان ریه</p>
      <mr-progress [value]="survey?.data.userSurvey.result?.LungCancer | number:'1.0-0'"></mr-progress>
    </div>

    <div class="illness">
      <p>سرطان معده</p>
      <mr-progress [value]="survey?.data.userSurvey.result?.GastricCancer | number:'1.0-0'"></mr-progress>
    </div>

    <div class="illness">
      <p>سرطان روده بزرگ</p>
      <mr-progress [value]="survey?.data.userSurvey.result?.ColonCancer | number:'1.0-0'"></mr-progress>
    </div>

    <div class="illness">
      <p>سرطان پانکراس</p>
      <mr-progress [value]="survey?.data.userSurvey.result?.PancreaticCancer | number:'1.0-0'"></mr-progress>
    </div>

    <div class="illness">
      <p>سرطان دهانه رحم</p>
      <mr-progress [value]="survey?.data.userSurvey.result?.CervicalCancer | number:'1.0-0'"></mr-progress>
    </div>

    <div class="illness">
      <p>سرطان تخمدان</p>
      <mr-progress [value]="survey?.data.userSurvey.result?.OvarianCancer | number:'1.0-0'"></mr-progress>
    </div>

    <div class="illness">
      <p>سرطان سینه</p>
      <mr-progress [value]="survey?.data.userSurvey.result?.BreastCancer | number:'1.0-0'"></mr-progress>
    </div>

    <div class="illness">
      <p>سرطان پروستات</p>
      <mr-progress [value]="survey?.data.userSurvey.result?.ProstateCancer | number:'1.0-0'"></mr-progress>
    </div>


    <div class="illness">
      <p>سکته مغزی</p>
      <mr-progress [value]="survey?.data.userSurvey.result?.BrainStroke | number:'1.0-0'"></mr-progress>
    </div>


    <div class="illness">
      <p>سکته قلبی</p>
      <mr-progress [value]="survey?.data.userSurvey.result?.HeartStroke | number:'1.0-0'"></mr-progress>
    </div>

  </div>
</div>
