<div class="card">
  <p-table
    [value]="data"
    [lazy]="true"
    responsiveLayout="stack"
    [breakpoint]="'1359px'"
    dataKey="id"
    [paginator]="true"
    [rows]="10"
    [totalRecords]="totalRecords"
    [loading]="dataLoading"
    (onFilter)="addFilters($event)"
    (onPage)="pageChange($event)"
    [rowsPerPageOptions]="[10, 25, 50]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">ردیف</th>
        <th>نام و نام خانوادگی</th>
        <th class="text-center">کد ملی</th>
        <th class="text-center">شماره موبایل</th>
        <th>تاریخ ثبت نام</th>
        <th class="text-center">عملیات</th>
      </tr>

      <tr>
        <th></th>
        <th>
          <p-columnFilter type="text" field="name" [showMatchModes]="false" [showClearButton]="false"
                          [showMenu]="false"></p-columnFilter>
        </th>

        <th>
          <p-columnFilter type="text" field="nationalCode" [showMatchModes]="false" [showClearButton]="false"
                          [showMenu]="false" matchMode="contains"></p-columnFilter>
        </th>

        <th>
          <p-columnFilter type="text" field="phone" [showMatchModes]="false" [showClearButton]="false"
                          [showMenu]="false" matchMode="contains"></p-columnFilter>
        </th>

        <th style="min-width: 8rem" class="text-center">
          <p-columnFilter field="representative" matchMode="in" display="menu" [showMatchModes]="false"
                          [showOperator]="false" [showAddButton]="false" [showClearButton]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <div class="col-span-12 lg:col-span-3 flex items-center !mb-2">
                <label class="!me-1">از تاریخ: </label>
                <ng-persian-datepicker [uiTodayBtnEnable]="false" [dateInitValue]="false">
                  <input type="text" [formControl]="fromDateValue"/>
                </ng-persian-datepicker>
              </div>

              <div class="col-span-12 lg:col-span-3 flex items-center">
                <label class="!me-1">تا تاریخ: </label>
                <ng-persian-datepicker [dateInitValue]="false">
                  <input type="text" [formControl]="toDateValue"/>
                </ng-persian-datepicker>
              </div>
            </ng-template>
          </p-columnFilter>

        </th>

        <th style="min-width: 42rem"></th>
      </tr>


    </ng-template>
    <ng-template pTemplate="body" let-user let-index="rowIndex">
      <tr>
        <td>{{index + 1}}</td>
        <td>{{ user.name }}</td>
        <td class="text-center"><span class="inline-block ltr">{{ user.nationalCode }}</span></td>
        <td class="text-center"><span class="inline-block ltr">{{ user.phone }}</span></td>
        <td>{{ user.createDateStr }}</td>
        <td>
          <mr-button (clicked)="sendSurvey(user.id)" size="sm" class="me-1" [color]="ColorEnum.SUCCESS"
                     label="ارسال پرسشنامه"></mr-button>
          <mr-button (clicked)="toSurveys(user.id)" size="sm" class="me-1" [color]="ColorEnum.SUCCESS"
                     label="مشاهده نتایج"></mr-button>
          <mr-button (clicked)="toCoverageRate(user.id)" size="sm" class="me-1" [color]="ColorEnum.SUCCESS"
                     label="پیشنهاد نرخ پوشش"></mr-button>
          <mr-button size="sm" class="me-1" label="کاهش ریسک"></mr-button>
          <mr-button size="sm" label="تخصیص پزشک"></mr-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
