@import "@coreui/coreui/scss/coreui.rtl";
@import 'bootstrap/dist/css/bootstrap.min.css';
@import "layout";
@import "./app/prime-theme/theme";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";
@import "./variables";
@import "primeicons/primeicons.css";

@tailwind utilities;

html {
  font-size: 16px;
}

.ltr {
  direction: ltr;
}

mr-input, mr-password, mr-select, mr-input-number {
  display: block;
  width: 100%;
}

.content {
  padding: 1rem 1.6rem;
  border-radius: 0.4rem;
  background: var(--white);
}

mr-widget {
  height: 100%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
}
