@import "@coreui/coreui/scss/coreui.rtl";
@import 'bootstrap/dist/css/bootstrap.min.css';
@import "layout";
@import "./app/prime-theme/theme";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";
@import "./variables";

@tailwind utilities;

html {
  font-size: 16px;
}

mr-input, mr-password, mr-select, mr-input-number {
  display: block;
  width: 100%;
}

.content {
  padding: 1rem 1.6rem;
  border-radius: 0.4rem;
  background: var(--white);
}
