@import "@coreui/coreui/scss/coreui.rtl";
@import 'bootstrap/dist/css/bootstrap.min.css';
@import "layout";
@import "./app/prime-theme/theme";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";
@import "./variables";

@tailwind utilities;

html {
  font-size: 16px;
}

.ltr {
  direction: ltr;
}

mr-input, mr-password, mr-select, mr-input-number {
  display: block;
  width: 100%;
}

.content {
  padding: 1rem 1.6rem;
  border-radius: 0.4rem;
  background: var(--white);
}

mr-widget {
  height: 100%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
}

ng-persian-datepicker {
  position: relative;

  .datepicker-outer-container {
    position: absolute;
    box-shadow: 0px 1px 10px 6px #aaa;
    z-index: 99;
  }

  input {
    width: 100%;
    font-size: var(--font-1);
    border: 2px solid var(--input-border-color);
    height: var(--input-height);
    border-radius: var(--radius-2);
    color: #6c6c6c;
    background: #fff;
    padding: 0.5rem 0.75rem;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s;
    -webkit-appearance: none;
    appearance: none;
  }
}
