
<div class="grid grid-cols-6 ">
    <div class="col-span-6 lg:col-span-3">
        <div class="bg-white !mb-4 !py-6 !px-4   ">
            <h3> حق بیمه</h3>
            <label class="!ml-2">
                حداقل :
            </label>
            <mr-input class="col-span-6 lg:col-span-3 mn">0</mr-input>
            <label class="!ml-4">
                حداکثر :
            </label>
            <mr-input class="col-span-6 lg:col-span-3 mn">0</mr-input>
        </div>
        <div class="bg-white !mb-4 !py-6 !px-4 ">
            <h3> مدت قرارداد </h3>
            <label class="!ml-4">
                حداقل :
            </label>
            <mr-input class="col-span-6 lg:col-span-3 mn">0</mr-input>
            <label class="!ml-4">
                حداکثر :
            </label>
            <mr-input class="col-span-6 lg:col-span-3 mn">0</mr-input>
            
        </div>
    </div>
</div>

  